/* Regole di reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    background-color: black;
}


#nav-superiore {
    height: 5vh;
    position: fixed;
    width: calc(100% - 20px);
    top: 0;
    left: 0;
    background-color: black;
    z-index: 3;
}

#nav-superiore .upper-controls {
    color: white;
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-left: 25px;
}

#nav-superiore .upper-controls>* {
    background-color: #4A4A4A;
    border-radius: 5px;
    padding: 5px;
}

#nav-superiore .upper-controls>i {
    padding-left: 5px;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    padding-top: 90px;
    overflow: auto;
}

#grid-view {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px 2px;
    padding: 0 100px;
    /* test */
}

#grid-view .single-view {
    width: 240px;
    height: 150px;
    min-width: 200px;

    position: relative;
}

#grid-view .single-view .user-name {
    position: absolute;
    padding: 5px 5px;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
}

#menu {
    width: 100%;
    height: 80px;
    background-color: #222222;
    bottom: 0;
    position: fixed;
    color: white;
}


#menu .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

#menu .nav-container i {
    font-size: 25px;
}

#menu .nav-container .fa-chevron-up {
    font-size: 15px;
}

#menu .nav-container div .centered-controls div {

    padding: 0 15px;

}

#menu .nav-container .exit-button {
    color: red;
}

.sub-cont {
    display: flex;
    justify-content: center;
    gap: 0 20px;

}

.central-controls {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 5px 0;
}

.centered-controls {
    text-align: center;
}